<div class="jumbotron center">
	<h1>About us</h1>
	<p><i>We are working on our OMR Pinteresting App...</i></p>
	</body>
	<br></br>
</div>
<img src="http://33.media.tumblr.com/5be6a52372f622728adb07566fc1e305/tumblr_n7fgokF2Ul1st5lhmo1_1280.jpg"
alt="Work_Desk"
class="align-center medium" />	