// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img.align-center{
	display: block;
	margin: 0px auto;}
img.medium{
	height: 400px;
	width: 500px;}